<section>
    <h2 class="text-center">All Orders</h2>
     <div class="container-fluid mt-4">
        <div>
             <a href="/admin/cancel-all-orders" onclick="return confirm('Are You Sure to Cancel All Orders ?')"
            class="btn btn-danger mb-2">Cancel All Orders</a>

        </div>
        <div class="table-responsive-md mt-2">
            <table class="table responsive" id="orderTable">
                <thead class="table-dark">
                    <tr>
                       <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cancel</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr class="align-middle">
                         <td>{{this.date}}</td>
                        <td>{{this.deliveryDetails.name}}</td>
                        <td>{{this.deliveryDetails.email}}</td>
                        <td>{{this.deliveryDetails.address}}</td>
                        <td>{{this.deliveryDetails.pincode}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>
 <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{this.status}}
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/change-status/?status=placed&orderId={{this._id}}">placed</a>
    <a class="dropdown-item" href="/admin/change-status/?status=shipping&orderId={{this._id}}">shipping</a>
    <a class="dropdown-item" href="/admin/change-status/?status=shipped&orderId={{this._id}}">shipped</a>
     <a class="dropdown-item" href="/admin/change-status/?status=delivering&orderId={{this._id}}">delivering</a>
     <a class="dropdown-item" href="/admin/change-status/?status=delivered&orderId={{this._id}}">delivered</a>
  </div>
</div>
</td>
                        <td>
                            <a href="/admin/cancel-order/{{this._id}}"
                                onclick="return confirm('Are You Sure to Cancel This Order ?')"
                                class="btn btn-danger">Cancel</a>
                        </td>
                        <td>
                            <a href="/admin/view-ordered-products/{{this._id}}" class="btn btn-primary">Product</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            
        </div>
    </div>
</section>

<script>
  $(document).ready( function () {
    $('#orderTable').DataTable();
} );
</script>