<section>
    
   <!--Product Display-->
   <div class="container-fluid mt-3">
         <h6> <b class="ml-2" style="color: #696969;"> Showing on {{category.name}}</b></h5>
      <div class="row">
         {{#each products}}
         <div class="col-6 col-md-2 pb-4">
            <a href="/product-page/{{this._id}}" style="text-decoration:none; color:black;">
            <div class="card align-items-center text-center">
               <img class="mt-3" src="/product-images/{{this._id}}.jpg" style="height:6rem; width:6rem;">
               <div class="card-body">
                  <div style="height:2.7em; width:7em;">
                     <h6 class="card-title product-title">{{this.Name}}</h6>
                       <h6 class="card-title product-title">{{this.category}}</h6>
                  </div>
                  <h6 class="card-text text-success limit-line-length" style="max-width:7em;">₹{{this.Price}}</h6>
               <!--  <p class="card-text">{{this.description}}</p> -->
             </a>
                 <button class="btn btn-primary mt-2" onclick="addToCart('{{this._id}}')" style="width:7em;height:auto">Add to Cart</button>
             </div>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
    
</section>