


<section>
  <h4 style="padding:1%; color: #696969;">Orders</h4>
  {{#each orders}}
   <div class="container-fluid">
      <div class="row">
        
         <div class="col-md-6 mt-3">
            <h5>Shipping Address</h5>
            <div class="border rounded p-2">
              
               <span class="font-weight-bold">{{this.deliveryDetails.name}}</span><br>
               
               <span>{{this.deliveryDetails.address}}</span><br>
               <span>{{this.deliveryDetails.pincode}}<span><br>
               <span>Mob: {{this.deliveryDetails.mobile}}<span><br>
               <span>Ordered On: {{this.date}}<span></span>
            </div>
            
         </div>
         
      </div>
      <div class="row mt-3">
         <div class="col-md-6">
            
            <h5>Status: {{this.status}}<small class="text-muted ml-2">{{order.currentStatusDate}}</small></h5>
          
         </div>
      </div>
     
       <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
      
      <div class="row mt-3">
         <div class="col-7 col-md-10">
            <h5 class="pl-3">Total Amount:</h5>
         </div>
         <div class="col-5 col-md-2 text-center align-items-center">
            <h5>₹<span id="total">{{this.totalAmount}}</span><h5>
         </div>
      </div>
   </div>
   <hr>
   {{/each}}
</section>



