<section style="padding-top: 30px;">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5">
            <img src="/product-images/{{product._id}}.jpg" alt="{{product.name}}" style="width:14em; height: 21em;">
            <h5 class="mt-2">{{product.Name}}</h5>
           
            <h5 class="text-success">₹{{product.Price}}</h5>
           
            <button class="btn btn-success" onclick="addToCart('{{product._id}}')" style="width:8em;">Add to Cart <i class="fas fa-cart-plus"></i></button>
           <!-- <button class="btn btn-success ml-2" onclick="buyNow('{{product._id}}')" style="width:7em;">Buy Now</button>-->
           
         </div>
         <div class="col-md-7 pt-3">
            <h6><b style="color:#696969;">Description</b></h6>
            <p>{{product.Description}}</p>
         </div>
      </div>
   </div>
</section>